.container{
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background: linear-gradient(#707070 #f3e8e8 #707070);
    color: #000800;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}
.container hr{
    height: 2.5px;
    border: none;
    background: #020008;
}
.container h2{
    font-size: 27px;
    font-weight: 500;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 2px solid #0c0000;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}
.container button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: #24008e;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.container .index {
    margin: auto;
    font-size: 20px;
}
.correct{
    background:#06f572;
    border-color: #8570b9;
}
.wrong{
    background:#fe322b;
    border-color: #18a123;
}